{% extends 'base.html.twig' %}

{% block title %}Actualité -
	{{actualites.titre}}
{% endblock %}

{% block body %}
	<body class="bg-gray-800 container mx-auto">
		<div class="progress-container">
			<div class="progress-bar" id="progressBar"></div>
		</div>

		<div class="text-white font-semibold flex flex-wrap gap-[3%] text-2xl sm:text-xl py-7 pb flex justify-center border bg-black pt-7 pb-7">

			<a id="hover" href="{{path('app_main')}}">Accueil</a>
			<a id="hover" href="{{path('app_produits')}}">Tous nos produits</a>
			{% if app.user %}
				{% if "ROLE_Admin" in app.user.roles %}
					<a id="hover" href="{{path('admin')}}">Admin</a>
				{% endif %}
				<a id="hover" href="{{path('app_profil')}}">Profil</a>
				<a id="hover" href="{{path('app_logout')}}">Deconnexion</a>
			{% else %}
				<a id="hover" href="{{path('app_login')}}">Connexion</a>
			{% endif %}
			<a id="hover" href="{{path('app_panier')}}">Panier</a>
			<a id="hover" href="{{path('app_contact')}}">Contact</a>

		</div>

		<div class="text-white text-5xl text-center pb-[5%] pt-[3%] font-bold">
			{{actualites.titre}}
		</div>
		<div class="">
			<div
				style="background-image:url('{{asset(actualites.image)}}')" class="pt-[30%] flex justify-center bg-contain bg-no-repeat ml-[20%]">{# <img class="h-96" src="{{asset(actualites.image)}}" alt=""> #}
			</div>
		</div>
		<div class="text-white text-xl pt-[5%]">
			{{actualites.description}}
		</div>
	</body>
{% endblock %}
