{% extends 'base.html.twig' %}

{% block title %}Bike Life -Accueil
{% endblock %}

{% block body %}
	<body class="bg-gray-800">
		<img src="{{asset('images/logobikelife.png')}}" class="h-[150px] w-[200px] absolute ml-[20%]" alt="Logo bike life"/>
		<header class="flex flex-col bg-contain bg-no-repeat md:bg-no-repeat bg-cover py-96 container mx-auto gap-[60px]" style="background-image:url('{{asset('images/cyclistes.jpg')}}')">
		
			<div class="text-white font-semibold gap-[3%] text-2xl pb flex justify-center">

				<a id="hover" href="{{path('app_main')}}">Accueil</a>
				<a id="hover" href="{{path('app_produits')}}">Tous nos produits</a>
				<a id="hover" href="">Connexion</a>
				<a id="hover" href="">Contact</a>

			</div>
			<div class="border border-solid border-2 bg-gray-600 opacity-[70%] w-[60%] py-4 ml-[18%]">
				<h1 class="text-white text-5xl text-center font-semibold ">"Roules vers de nouvelles aventures"</h1>
			</div>
			<div class="text-white font-semibold gap-[3%] text-2xl pb flex justify-center">
				<a href="{{path('app_type')}}" class="absolute mt-[10%]">Les types de vélos</a>
			</div>
		</header>
		<section>
			<h2 class="text-3xl text-center pt-12 font-semibold text-white">Catégories</h2>
		</section>
		<section>
			<h2 class="text-3xl text-center pt-12 font-semibold text-white">Actus Bike</h2>
		</section>

	</body>
{% endblock %}
