{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<body class="bg-gray-800">
<section class="flex flex-wrap gap-3 container mx-auto pt-[3%]">
{% for produits in produit %}
				<div class="w-1/4 bg-gray-800 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
					<a href="{{path('app_produit', {id: produits.id})}}">
						<div class="zoom-image"><img class="w-full h-[200px]" src="{{asset(produits.image)}}" alt=""/></div>
					</a>
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">{{produits.nom}}</h5>
						</a>
						<p class="mb-3 font-normal text-gray-400 dark:text-gray-400">{{produits.description}}</p>
						<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#54b3d6] rounded-lg hover:bg-[#0B9C9F] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
							{{produits.prix}}€
							<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
							</svg>
						</a>
					</div>
				</div>
			{% endfor %}
            </section>
    </body>
{% endblock %}
