{% extends 'base.html.twig' %}

{% block title %}Bike Life - Commandes
{% endblock %}

{% block body %}
	<body class="bg-gray-800  container mx-auto">
		{% for Message in app.flashes('vide') %}
			<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="vide">
				{{ Message }}
			</div>
		{% endfor %}

		<div class="text-white font-semibold flex flex-wrap gap-[3%] text-2xl sm:text-xl py-7 pb flex justify-center border bg-black pt-7 pb-7">

			<a id="hover" href="{{path('app_main')}}">Accueil</a>
			<a id="hover" href="{{path('app_produits')}}">Tous nos produits</a>
			{% if app.user %}
				{% if "ROLE_Admin" in app.user.roles %}
					<a id="hover" href="{{path('admin')}}">Admin</a>
				{% endif %}
				<a id="hover" href="{{path('app_profil')}}">Profil</a>
				<a id="hover" href="{{path('app_logout')}}">Deconnexion</a>
			{% else %}
				<a id="hover" href="{{path('app_login')}}">Connexion</a>
			{% endif %}
			<a id="hover" href="{{path('app_panier')}}">Panier</a>
			<a id="hover" href="{{path('app_contact')}}">Contact</a>

		</div>
		<p class="text-white font-bold tes=xt-3xl">BRAVO ! MERCI POUR LA COMMANDE !</p>
	</body>

{% endblock %}
